body {
    margin-top: 0px;;
}

/* override bootstrap global box-sizing  
.selector-for-some-widget {
  box-sizing: content-box;
}
*/

#landing {
    background-color: #a1c181;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0px;
    margin: 0px;
}

#event-query-form {
    background-color: #00000044;
}

h1 {
    color: red;
}

section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 5%;
}

@media only screen and (min-width: 768px) {
}