body {
    margin-top: 0px;
}

/* override bootstrap global box-sizing  
.selector-for-some-widget {
  box-sizing: content-box;
}
*/

#event-query-form {
    background-color: #2892D7;
}

h1 {
    color: red;
}

section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 5%;
}

.event-card {
    border: 1px solid black;
    box-shadow: gray;
    padding: 5px 10px 5px 10px;
    margin: 10px;
}