body {
    margin-top: 0px;;
}

/* override bootstrap global box-sizing  
.selector-for-some-widget {
  box-sizing: content-box;
}
*/

#event-query-form {
    width: 60%;
}

#landing {
    background-color: #a1c181;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0px;
    margin: 0px;
}

#event-query-form {
    background-color: #00000044;
}

.event-card {
    width: 100%;
}

h1 {
    color: red;
}

section {
    display: flex;
    margin: 20px;
    margin-top: 5%;
}

/* For user-events.html */



/* Tablet */
@media only screen and (min-width: 768px){
   
    section {
        flex-direction: row;
        justify-content: space-around;
    }

    .event-card {
        width: 40%;
        margin: 10px
    }


}
/* Desktop */
@media only screen and (min-width: 1200px) {

    #event-query-form {
        width: 50%;
    }


    section {
        flex-direction: row;
        justify-content: space-between;
    }

    .event-card {
        width: 30%;
        margin: 10px
    }
}